.sidebar-logo {
	padding: 1.5rem;
}

.sidebar-logo img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 160px;
	margin: 0 auto;
}

.masthead {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
}

.content {
	margin-top: 75px;
}

.sidebar-toggle{
	position: fixed;
}

img{
	display: inline;
}
